* {
    margin: 0;
}

.calculator {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    /* margin: auto; */
}

.screen,
.functions,
.key-pad {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(238, 69, 69); */
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
}

.key-pad,
.functions {
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {
    width: 95%;
    height: 45px;
    font-size: 33px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: right;
}

.function-box {
    width: 95%;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
}

.box1 {
    justify-content: flex-start;
    height: 30px;
    margin-bottom: 5px;
}

.box1 button {
    width: 20%;
    margin-right: 10px;
    font-size: 19px;
}

.box2 {
    height: 30px;
    justify-content: space-between;
    margin-bottom: 5px;
}

.box2 button {
    justify-content: center;
    width: 18%;
    font-size: 18px;
}

.box3 {
    height: 30px;
    justify-content: flex-start;
}

.box3 button {
    width: 30%;
    margin-right: 5px;
    font-size: 20px;
}
.function-row {
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    
}
.trigonometry{
    display:none;
    width: 95%;
    flex-direction: row;
}
.inverseBtn{
    width: 20%;
    display: flex;
}
.inverseBtn button{
    width: 80%;
    height: 30px;
    align-self: center;
    margin: auto;
}
.rg1{
    display: flex;
    /* border: 2px solid blue; */
    flex-direction: column;
    width: 80%;
    justify-content: center;
}
.rg2{
    display: none;
    /* border: 2px solid blue; */
    flex-direction: column;
    width: 80%;
    justify-content: center;
}
.rg2 button, .rg1 button{
    width: 30%;
    height: 30px;
    margin: auto;
    font-size: 18px;
}
.inv{
    font-size: 18px;
}
.rg3{
    display: none;
    flex-direction: row;
    width: 95%;
    /* border: 2px solid blue; */
    justify-content: center;
}
.rg3 button{
    height: 30px;
    width: 20%;
    margin: auto;
    font-size: 18px;
}

.function-row{
    margin-top: 4px;
}

.key-pad-row {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3px;
}

.key-pad-row button {
    width: 19%;
    height: 35px;
    text-align: space-evenly;
    font-size: 20px;
    /* border: none; */
}